name: Publish Package to npmjs

on:
  push:
    tags:
      - 'v*' # Triggers on version tags, e.g., v1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules # Use the same path as before
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }} # Same key as before
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts' # Use the latest LTS version of Node.js
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Publish to npm
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # Use NPM token for authentication
